<div class="wraper">

    {# {% if core_alerts|length > 0 %}
        {% for alert in core_alerts %}
            {{ alert|raw }}
        {% endfor %}
    {% endif %} #}

    {% block alerts %}{% endblock %}

    <div class="supsystic-plugin{% if pageOptions.isSettingPage == 1 %} {{ ' sgg-setting-page' }} {% endif %}">
        {% block header %}
            <div class="supsystic-breadcrumbs">
                Photo Gallery by Supsystic
            </div>
        {% endblock %}
        <section class="supsystic-content">
            <nav class="supsystic-navigation" style="top: 0px;">
                <ul>
                    <li class="supsystic-sticky {% if request.query.module == 'overview' %} active{% endif %}">
                        <a href="{{ environment.generateUrl('overview') }}">
                            <i class="fa fa-info"></i>
							<span class="gg-sps-sticky-link">{{ translate('Overview') }}</span>
                        </a>
                    </li>
                    <li {% if request.query.module == 'galleries' and request.query.action == 'showPresets' %} class="active" {% endif %}>
                        <a id="btn-add-new" href="{{ environment.generateUrl('galleries', 'showPresets') }}">
                            <i class="fa fa-plus-circle"></i>
							<span class="gg-sps-sticky-link">{{ translate('New Gallery') }}</span>
                        </a>
                    </li>
                    <li class="supsystic-sticky {% if (request.query.module == 'galleries' or request.query.module is null) and request.query.action != 'showPresets' %} active{% endif %}">
                        <a href="{{ environment.generateUrl('galleries') }}">
                            <i class="fa fa-archive"></i>
							<span class="gg-sps-sticky-link">{{ translate('Galleries') }}</span>
                        </a>
                    </li>
                    <li class="supsystic-sticky{% if (request.query.module == 'optimization') %} active{% endif %}">
                        <a href="{{ environment.generateUrl('optimization') }}">
                            <i class="fa fa-compress"></i>
							<span class="gg-sps-sticky-link">{{ translate('Image Optimize') }}</span>
                        </a>
                    </li>

                    <li class="supsystic-sticky {% if request.query.module == 'settings' %} active{% endif %}">
                        <a href="{{ environment.generateUrl('settings') }}">
                            <i class="fa fa-gear"></i>
							<span class="gg-sps-sticky-link">{{ translate('Advanced Settings') }}</span>
                        </a>
                    </li>

                    {% if environment.getModule('license') %}
                        <li class="supsystic-sticky {% if (request.query.module == 'license') %} active{% endif %}">
                            <a href="{{ environment.generateUrl('license') }}">
                                <i class="fa fa-hand-o-right"></i>
								<span class="gg-sps-sticky-link">{{ translate('License') }}</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <div class="supsystic-container supsystic-item supsystic-panel" {% if request.query.module == 'galleries' %}style="min-height: 500px"{% endif %}>
                {{ environment.getDispatcher().dispatch('messages') }}
                {% block preview %}{% endblock %}
                {% block content %}{% endblock %}
                <div class="clear"></div>
                {% block table %}{% endblock %}
                </form>

                {% if SGG_AC_SHOW == true %}
                <div class="supsysticOverviewACFormOverlay">
                    <form method="post" id="overview-ac-form" class="supsysticOverviewACForm">
                      <div class="supsysticOverviewACTitle">
                        <div class="supsysticOverviewACClose"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <a href="https://supsystic.com/" target="_blank"><img src="{{ SGG_PLUGIN_URL }}/src/GridGallery/Overview/assets/img/supsystic-logo-small.png"></a><br>
                        <b>PRO plugins</b> and <b>amazing gifts</b>!
                      </div>
                      <label>Name *</label>
                      <input type="text" name="username" value="{{ SGG_USER_NAME }}">
                      <label>Email *</label>
                      <input type="text" name="email" value="{{ SGG_USER_EMAIL }}">
                      <input type="hidden" name="_wpnonce" value="{{ _wpnonce }}">
                      <button id="subscribe-btn" type="submit" class="button button-primary button-hero">
                          <i class="fa fa-check-square" aria-hidden="true"></i>
                          Subscribe
                      </button>
                      <div class="button button-primary button-hero supsysticOverviewACBtn supsysticOverviewACBtnRemind"><i class="fa fa-hourglass-half" aria-hidden="true"></i> Remind me tomorrow</div>
                      <div class="button button-primary button-hero supsysticOverviewACBtn supsysticOverviewACBtnDisable"><i class="fa fa-times" aria-hidden="true"></i> Do not disturb me again</div>
                      <div class="supsysticOverviewACFormNotification" style="color: red; float: left;" hidden>Fields with * are required to fill</div>
                    </form>
                    <div class="clear"></div>
                </div>
                <div id="supsysticOverviewACFormDialog" hidden>
                      <div class="on-error" style="display:none">
                          <p>{{ translate('Some errors occurred while sending mail please send your message trough this contact form:') }}</p>
                          <p><a href="https://supsystic.com/plugins/photo-gallery/#contact" target="_blank">https://supsystic.com/plugins/photo-gallery/#contact</a></p>
                      </div>
                      <div class="message"></div>
                </div>
                {% endif %}

            </div>

            <div class="supsystic-footer-wrapper">
              <div class="supsystic-footer-add-review">Add your <a target="_blank" href="http://wordpress.org/support/view/plugin-reviews/gallery-by-supsystic?filter=5#postform">★★★★★</a> on wordpress.org</div>
              <a href="https://supsystic.com/" target="_blank"><img src="{{SGG_PLUGIN_URL}}/src/GridGallery/Overview/assets/img/supsystic-logo-small.png"></a>
              <div class="supsystic-footer-plugin-version">Photo Gallery by Supsystic Version: {{' '}} {{SGG_PLUGIN_VERSION}}</div>
            </div>
        </section>
    </div>

    <!-- Modal loading overlay -->
    <div class="gg-modal-loading-overlay"></div>
    <div class="gg-modal-loading-object">
        <p>
            <span id="loading-text">Loading</span>
            <img src="{{ environment.config.get('admin_url') ~ '/images/wpspin_light.gif' }}" alt=""
                 title="{{ translate('Loading') }}"/>
        </p>
    </div>

    {% block notes %}{% endblock %}
</div>
